@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(230, 179, 36);
    /* width: 434px; */
    font-family: 'Mukta', sans-serif;
    height: 100vh;
    /* color: black; */
}

.sidebar nav {
    padding: 72px;
}

.sidebar nav li {
    font-size: 25px;
    list-style: none;
    color: black;
    padding: 20px;
    /* height: 100vh; */
    transition: transfom 0.3s ease-in;
}

.sidebar nav li a {
    font-style: none;
    color: rgb(13, 13, 13);
}


.main {
    /* background-color: brown; */
    width: 80vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: yellow; */

    height: 65vh;
    margin: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.devInfo {
    width: 50%;
    font-family: 'Mukta', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(10, 10, 10);
}

/* .devPic img {
    margin: 10px;
    width: 25vw;
    height: 75vh;
} */

.devPic {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 35px;
}

.devPic img {
    border-radius: 200px;
    width: 45%;
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 90px;
    ;
    transform: translatex(-50%);
    transition: bottom 1s, left 1s;
}

.devPic:hover .shape {
    bottom: 10px;
}

.devPic:hover .girl {
    left: 10%;
    top: 10px;
}

.hello {
    font-size: 50px;
}

.name {
    font-size: 40px;
    font-weight: bolder;
}

.name span {
    color: rgb(246, 136, 10);
}

.about {
    padding-top:50px;
    font-size: 20px;
}

.buttons button {
    border-radius: 22px;
    padding: 9px 14px;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
}

.buttons button:hover {
    color: yellow;
    background-color: black;
}

.contactform {
    padding: 0 30px;
    padding-top: 144px;
    font-family: 'Mukta', sans-serif;
    text-align: left;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;

}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#form-check{
    flex-direction: row;}
    /* padding-left: 0px; */
     /* color: brown; */
#form-check input{
        width:24px;
        margin:3px ;
}
.button {
    size-adjust: 10px;
    border-radius: 12px;
    padding: 5px 9px;
    color: rgb(123, 22, 22);
    background-color: rgb(248, 248, 248);
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
}

.skillcontainer {
    padding: 2px;
}

.skillItem {
    display: flex;
    padding: 12px;
    align-items: center;
}

.skill {
    width: 265px;
    height: 6px;
    background-color: brown
}

.hundered {
    width: 265px;
    background-color: blueviolet;
}

.fifty {
    width: 125px;
    background-color: aqua;
}

.t5 {
    width: 75px;
    background-color: chartreuse;
}

h1{
    padding-left:10px;
    color:brown ;
    padding-top: 10px;
}
h2 {
    padding-bottom: 10px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 15px;
    color: black;
}

.cross {
    margin-left: 225px;
}


@media(max-width:1615px){


.sidebarGo {
    transform: translate(-443px, 8px);
    position: absolute;
}
}
.blogItem {
    padding-top: 20px;
    margin: 20px;
}
.blogItem p{
    padding-top: 10px;
    margin: 20px;
}

.intro {
    padding-top: 30px;
}

/* #isclient {
    margin-left: 0px;
/* } */

.mb-3 {
    display:flex;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;

} 

.intro {
 /* background-color:blueviolet; */
padding: 15px 15px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.sidebarGo {
    transform: translate(-443px, 8px);
    position: absolute;}

.back-video{
    position: absolute;
    right:0;
    bottom: 0;
    z-index: -1;
}